.vscode

# latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.bcf
*.run.xml
*.blg
*.bbl-SAVE-ERROR
**/main.pdf



# kate swap
*.kate-swp

**/literature

# large measurements
*.avi

# libreoffice locks
*.~lock.*