.vscode
.venv

# latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.bcf
*.run.xml
*.blg

# python files
**/__pycache__
*.py[cod]
*$py.class
*.pyc
*.pyo
*.egg-info

# julia files
Manifest.toml

**/literature